<a href="https://colab.research.google.com/github/ormorteey/BST-222-Survival-Analysis/blob/main/BST_222_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
n = 1:1000
res_df = data.frame(id = n, res = qpois(0.05, 0.2 * n , lower.tail = F))
head(res_df, 2)
res_df[which(res_df$res == 30),]

  id res
1 1  1
2 2  2

    id  res
108 108 30
109 109 30
110 110 30
111 111 30
112 112 30

In [42]:
n = 1:1000
res_df = data.frame(id = n, res = ppois(30, 0.2 * n , lower.tail = F))
head(res_df, 2)
res_df[which(res_df$res >= 0.048 & res_df$res <= 0.052),]

  id res
1 1  2.151650e-56
2 2  3.806983e-47

    id  res
112 112 0.04898297

In [41]:

n = 1:1000
res_df = data.frame(id = n, res = pgamma(1,30,0.2*n, lower.tail = F))
head(res_df, 2)
res_df[which(res_df$res >= 0.95 & res_df$res <= 0.96),]
res_df[c(104:109),]

  id res
1 1  1
2 2  1

    id  res
106 106 0.9586446
107 107 0.9544074

    id  res
104 104 0.9662291
105 105 0.9625812
106 106 0.9586446
107 107 0.9544074
108 108 0.9498584
109 109 0.9449868